.Exploreheading {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
}

.headexp {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3%;
  font-weight: 600;
  padding: 0px 40px;
  /* border: 5px solid white; */
  color: aliceblue;
  width: fit-content;
}

.page-content {
  margin-top: 20px !important;
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .headexp {
    font-size: 2rem;
  }
}

.backii {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 600px) {
  .headexp {
    font-size: 2rem;
    padding: 0 20px;
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  /* align-items: center; */
  overflow: hidden;
  padding: 0.6rem;
  width: 100%;
  height: 300px;
  text-align: center;
  color: #23465e;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgba(205, 201, 201, 0.1),
    0 10px 10px rgba(205, 201, 201, 0.1);
  border-radius: 15px;
  /* border:4px double black; */
}

.crousel-div {
  display: none;
}

.card:nth-child(1) {
  background-image: url("spons.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.card:nth-child(2) {
  background-image: url("time.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.card:nth-child(3) {
  background-image: url("speak.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.card:nth-child(4) {
  background-image: url("contact.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  /* border: 2px solid #f9f7f7; */
  padding: 6px;
  border-radius: 4px;
  width: 100%;
  /* background-color: #f9f7f7; */
}

.btn {
  border: 2px solid #f9f7f7;
  margin-top: 2px;
  padding: 2px;
  border-radius: 4px;
  width: 60%;
  background-color: #f9f7f7;
}

@media screen and (max-width: 600px) {
  .backii {
    width: 70%;
  }
  .backii1 {
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .crousel-div {
    display: block;
  }
  .page-content {
    display: none;
  }
}
