/* RegistrationForm.css */

.regis {
    background-color: black;
    padding-bottom: 30px;
}

.registration-form {
    color: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    // border: 1px solid #ccc;
    // border-radius: 5px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    // background-color: aqua;
    width: 100%;
    margin-bottom: 5px;
}

.reginput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reglist {
    list-style-type: disc;
}

.dareg {
    min-width: 100px;
}

/* Style for error messages */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.dayregi {
    height: 20px;
    width: 20px;
    // position: relative;
    // right: 0px !important;
}

.dayylab {
    display: flex;
    align-items: center;
}

.checkbox-group {
    display: flex;
    // flex-direction: column;
    align-items: center;
}

.regbtn {
    background-color: #007bff !important;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    // border: 2px solid white;
}

.heyreg {
    display: flex;
    justify-content: center;
}

.regbtn:hover {
    background-color: #0056b3 !important;
}