/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
} */

.cccontainer {
  /* background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #B9EAFF 100%), url('./Books.png'); */
  /* background: #B9EAFF url('../Speakers/Books.png') center/contain repeat; */
  /* background: linear-gradient(rgba(185, 234, 255, 1) 0%, rgba(185, 234, 255, 0.5) 1%, rgba(185, 234, 255, 0.1) 5%, rgba(185, 234, 255, 0.1) 50%, rgba(185, 234, 255, 0.5) 98%, rgba(185, 234, 255, 1) 100%),
      url('../Speakers/Books.png') center/contain repeat; */

  padding: 6rem 1rem 0rem 1rem;
  /* background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #F2FBFF 0.01%, #D4F2FF 100%); */
}

.cccontact-form {
  /* min-height: 100vh; */
  z-index: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #f2fbff 0.01%,
    #d4f2ff 100%
  );
  justify-content: center;
  /* display: grid; */
  display: flex;
  /* grid-template-rows: 1fr auto 1fr; */
  align-items: center;
}
.cccontact-form .cccontainer {
  margin: 4%;
}

.cccontact-form h1 {
  margin-top: 0%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;

  /* font-family: "poppins"; */
  border-radius: 10px;
  background-color: #510666;
}

.cccontact-form h1 :hover {
  background-color: aqua;
}
.cccontact-form h2 {
  line-height: 40px;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 500;
  color: #69275c;
  text-align: center;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
}
.cccontact-form .mmmain {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.cccontact-form .cccontent {
  background: #fff;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 2px 9px 49px -17px #9c27941a;
  flex-basis: 50%;
  padding: 3em;
}

.cccontact-form .form-img {
  flex-basis: 50%;
  background: #f0f4f8;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.cccontact-form .cccontainer {
  margin: auto;
}

.cccontact-form .form-img img {
  max-width: 100%;
}
.cccontact-form .btn,
.cccontact-form button,
.cccontact-form input {
  border-radius: 35px;
}

.cccontact-form .btn:hover,
.cccontact-form button:hover {
  color: #97359c;
  transition: 0.5s ease;
}
.cccontact-form form {
  margin: 30px 0;
}

.cccontact-form input,
.cccontact-form textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #dfdddd;
  transition: 0.3s ease;
}

.cccontact-form input:focus {
  background: transparent;
  border: 1px solid #69275c;
}

.cccontact-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #69275c;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 15px;
  border: 1px solid #69275c;
}

@media (max-width: 736px) {
  .cccontact-form .mmmain {
    flex-direction: column;
  }
  .cccontact-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .cccontact-form .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
    display: none;
  }
  .cccontact-form .cccontent {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .cccontact-form .cccontainer {
    margin: 2%;
  }
}

.ctesta {
  resize: none;
  border-radius: 25px;
}

.cccontact-form {
  margin-top: 0px;
  /* color: #f0f4f8; */
}
