.aabout-left {
    /* padding-top: 4vh; */
    width: 47%;
    /* height: 80%; */
}

.aabout-right {
    width: 30%;
}

.about-desktop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.aabout-left {
   
    /* text-align: justify; */
    text-align: left;
   
}

.about-phone {
    display: none;
}

.aabout-top {
    text-align: justify;
    margin: 5%;
}

.aabout-phone-pic-container {
    margin: 2% 0%;
}

.about-phone-pic {
    width: 100%;
}

.about-left-inner {
    font-size: 18px;
    font-weight: 500;
}

.aabout-left-inner {
    font-size: 1rem;
    margin: 1% 0%;
}

@media screen and (max-aspect-ratio: 4/3)  {
    .about-desktop {
        display: none;
    }
    .about-phone {
        display: block;
    }
}
