.wave-header {
  min-height: 55vh;
  width: 100%;
  background: #f625fb;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.wave-header .HeadingOfPage h1 {
  font-size: 5em;
  color: #fff;
  font-family: "raleway";
  font-weight: 700;
  margin-bottom: 8rem;
  margin-top: 5rem;
}
// svg {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

.HeadingOfPage h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  //   width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;
}
.HeadingOfPage h1:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  position: absolute;
  left: 0;
  margin-bottom: 5px;
}
.HeadingOfPage h1:after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  //   bottom: 0;
  height: 3px;
  width: 50%;
  margin-bottom: 0.25em;
}

@media screen and (max-width: 768px) {
  .wave-header .HeadingOfPage h1 {
    font-size: 2.8em;
  }
  .wave-header {
    min-height: 30vh;
    width: 100%;
    background: #f625fb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave-header h1 {
    font-size: 4em;
    color: #fff;
    font-family: "raleway";
    font-weight: 700;
    margin-bottom: 8rem;
    //   margin-top: 5rem;
  }
}
