.wave-header {
  min-height: 52vh;
  width: 100%;
  background: #f625fb;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #3E0067 url('../../Pages/Home/homebackg.png');

}

.wave-header .HeadingOfPage h1 {
  font-size: 4.8em;
  // color: #fff;
  font-family: "raleway";
  font-weight: 700;
  margin-bottom: 8rem;
  margin-top: 7rem;
  color: #FFCA42;
  font-family: Playfair Display SC;
}

// svg {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

.HeadingOfPage h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  //   width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;

}

.HeadingOfPage h1:before {
  background-color: #FFCA42;
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  position: absolute;
  left: 0;
  margin-bottom: 5px;
}

.HeadingOfPage h1:after {
  background-color: #FFCA42;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  //   bottom: 0;
  height: 3px;
  width: 50%;
  margin-bottom: 0.25em;
}

@media screen and (max-width:1420px){
  .wave-header{
    min-height: 35vh;
  }
}

@media screen and (max-width:1100px){

  .wave-header .HeadingOfPage h1{
    margin-bottom:10rem;
    margin-top:7rem;
  }
}

@media screen and (max-width: 768px) {
  .wave-header .HeadingOfPage h1 {
    font-size: 2.7em;
  }

  .wave-header {
    min-height: 25vh;
    width: 100%;
    background: #3E0067 url('../../Pages/Home/homebackg.png');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wave-header h1 {
    font-size: 4em;
    color: #fff;
    font-family: "raleway";
    font-weight: 700;
    margin-bottom: 8rem;
    //   margin-top: 5rem;
  }
}