.sponsers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxx-1 {
  width: fit-content;
  // height: 60%;
  text-align: center;

  // margin-top: 60px;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    padding: 2px 2px;
  }

  .imgg {
    // width: 60%;
    // height: 60%;
    min-width: 320px;
    max-height: 400px;
    // padding-bottom: 40px;
    // padding-top: 40px;
    // margin-left: 16%;
  }
}

.boxx-2 {
  width: fit-content;
  // width: 60%;
  // height: 60%;
  // width: fit-content;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    padding: 2px 2px;
  }

  .imgg {
    // width: 65%;
    // height: 60%;
    min-width: 320px;
    max-height: 400px;
    // padding-top: 50px;
    // padding-bottom: 50px;
    // margin-left: 16%;
  }
}

.boxx-1,
.boxx-2 {
  // border: 4px solid white;
  // border-radius: 20px;
  // background-image: linear-gradient(45deg, #fbfbfb, #eb8f8f);
  padding: 10px;
}

.middle {
  // background-image: linear-gradient(to bottom, #cbcaa5 0%,#334d50 100%);
  // background-color: rgb(203, 202, 165);
  // background: linear-gradient(rgb(203, 202, 165) 0%, rgba(203, 202, 165, 0.9) 5%, rgba(203, 202, 165, 0.8) 15%, rgba(203, 202, 165, 0.8) 35%, rgba(203, 202, 165, 0.8) 50%, rgb(203, 202, 165, 0.8) 75%, rgb(203, 202, 165, 1.9) 95%, rgb(203, 202, 165) 100%), url("/src/Pages/Sponsers/Group 710.png") center/contain repeat;
  // url('./Group\ 710.png') center/contain repeat;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #F2FBFF 0.01%, #D4F2FF 100%);
  padding: 5% 0;
}

@media screen and (max-aspect-ratio: 4/3) {
  .sponsers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .boxx-1 {
    margin-bottom: 20px;
  }

  .middle{
    padding: 10% 0;
  }
}

@media screen and (max-width: 426px) {
  .boxx-1 {
    .imgg {
      min-width: 300px;
      max-height: 450px;
      // padding: 40px 4px;
    }
  }

  .boxx-2 {
    .imgg {
      min-width: 300px;
      max-height: 450px;
      // padding-top: 50px;
      // padding-bottom: 50px;
    }
  }
}