.sponsers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  width: 60%;
  height: 60%;
  margin-top: 100px;

  h1 {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 2px 2px;
  }

  img {
    width: 60%;
    height: 60%;
    margin-left: 16%;
  }
}

.box-2 {
  width: 60%;
  height: 60%;

  h1 {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 2px 2px;
  }

  img {
    width: 65%;
    height: 60%;
    margin-left: 16%;
  }
}