* {
  margin: 0;
  padding: 0;
}

.Navbarbody {
  // min-height: 4vh;
  position: relative;
  z-index: 10;
}

.Navbarbody .navbar {
  position: fixed;
  height: fit-content;
  top: 0;
  width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.Navbarbody .navbar .navitems {
  // position: fixed;
  // top:0;
  // backdrop-filter: blur(10px);
  // background-color: #1f2937;
  background: linear-gradient(180deg, rgba(22, 3, 35, 0.60) 85.5%, rgba(22, 3, 35, 0.00) 100%);
backdrop-filter: blur(0.949999988079071px);
}

.Navbarbody .navbar .navitems img {
  width: 80px;
  height: 60px;
  padding: 5px;
}

.Navbarbody .navbar ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Navbarbody .navbar li {
  // height: 50px;
  margin: 1%;
  // background-color: #FFCA42;
  transition: 0.4s ease-in-out;
}

.Navbarbody .navbar a {
  height: 100%;
  padding: 0 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  transition: transform 0.4s ease-in-out;
}

.Navbarbody .navbar .navitemMobile:hover {
  background-color: rgb(240, 240, 240, 0.8);
  border-radius: 10px;
  transform: scale(1.1);
  color: black;
}

.Navbarbody .navbar .navitems :first-child {
  margin-right: auto;
}

.Navbarbody .navbar .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 2;
  // background: linear-gradient(to left, #150322 0.9%,rgba(22, 3, 34, 0.55) 59.8%, rgba(22, 3, 34, 0.45) 67.8%, rgba(22, 3, 34, 0.0) 100%);
  background: linear-gradient(to left, #150322 0.9%,rgba(22, 3, 34, 0.65) 95%, rgba(22, 3, 34, 0.65) 90.8%,rgba(22, 3, 34, 0.0) 99.15%, rgba(22, 3, 34, 0.0) 99.15%);

  // background: linear-gradient(89deg, rgba(22, 3, 34, 0.00)  0.9%, rgba(22, 3, 34, 0.75) 90.8%, #150322 99.15%);
  // box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // display: none;
}

.sidebar {
  overflow: hidden;
  transition: all 0.5s;
  width: 0px !important;
}

.Navbarbody .navbar .sidebar li {
  width: 100%;
}

.Navbarbody .navbar .sidebar a {
  // width: 100%;
  color: white;
  font-size: 1.2rem;
  margin-left: 5%;
  margin-top: 7%;
}

.Navbarbody .navbar .sidebar a:hover {
  // background-color: rgb(240, 240, 240, 0.8);
  border-radius: 10px;
  transform: scale(1.1);
  color: black;
  // margin-right:15%;
}

.Navbarbody .navbar .navitems .registerButton a {
  background-color: #FFCA42;
  color: #3E0067 !important;
  height: 100%;
  font-family: Playfair Display;
  font-size: 20.857px;
font-style: normal;
font-weight: 600;
  border-radius: 10px;
  padding: 5px 12px;
}

.Navbarbody .navbar .sidebar .registerButton a {
  background-color: lightcyan;
  color: black !important;
  border-radius: 20px;
  background-color: #FFCA42;
  color: #3E0067 !important;
  // margin-left: 5%;
  width: 50%;
  padding-left: 18px;
  // padding-right: 10px;
  font-weight: 700;
  // letter-spacing: 3px;
}

#show {
  display: flex !important;
  width: 250px !important;
}

.Navbarbody .hamburger {
  display: none;
}

// .sidebar {
//   width: 50% !important;
//   transition: all 2s;
// }

// @media only screen and (max-width: 910px) {
//   .navitems .mobileview,
//   #navItemHome,
//   #navItemRegister,
//   #navItemContact,
//   #navItemSponsers,
//   #navItemProgramme,
//   #navItemSpeakers {
//     display: none !important;
//   }

//   .Navbarbody .hamburger {
//     display: block;
//   }
// }

@media only screen and (max-width: 320px) {
  .navitems .mobileview,
  #navItemHome,
  #navItemRegister,
  #navItemContact,
  #navItemSponsers,
  #navItemProgramme,
  #navItemSpeakers {
    display: none !important;
  }

  .Navbarbody .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .navitems .mobileview,
  #navItemHome,
  #navItemRegister,
  #navItemContact,
  #navItemSponsers,
  #navItemProgramme,
  #navItemSpeakers {
    display: none !important;
  }

  .Navbarbody .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .navitems .mobileview,
  #navItemHome,
  #navItemRegister,
  #navItemContact,
  #navItemSponsers,
  #navItemProgramme,
  #navItemSpeakers {
    display: none !important;
  }

  .Navbarbody .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navitems .mobileview,
  #navItemHome,
  #navItemRegister,
  #navItemContact,
  #navItemSponsers,
  #navItemProgramme,
  #navItemSpeakers {
    display: none !important;
  }

  .Navbarbody .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 910px) {
  .navitems .mobileview,
  #navItemHome,
  #navItemRegister,
  #navItemContact,
  #navItemSponsers,
  #navItemProgramme,
  #navItemSpeakers {
    display: none !important;
  }

  .Navbarbody .hamburger {
    display: block;
  }
}

// @media only screen and (min-width: 1025px) {
//   .navitems .mobileview,
//   #navItemHome,
//   #navItemRegister,
//   #navItemContact,
//   #navItemSponsers,
//   #navItemProgramme,
//   #navItemSpeakers {
//     display: flex !important;
//   }

//   .Navbarbody .hamburger {
//     display: none;
//   }

//   .sidebar {
//     width: 0px;
//   }
// }

.sidebb {
  display: flex;
  justify-content: center;
}

.sidebbregb {
  
}

#mnh {
  position: relative;
  top: -5px !important;
  right: 60px !important;
  border-radius: 6.471px;
border: 1.6px solid #d1cfcf;
background: rgba(217, 217, 217, 0.18);
  font-size: 16px;
  font-weight: 600;
  padding: 0px 10px;
  height: 32px;
  border-radius: 20px;
}

// #rarrow {
//   font-size: 20px;
//   font-weight: 900;
// }
