#paragraph {
  // margin: 2em;
  font-weight: bold;
  font-size: 130%;
  text-transform: uppercase;
}

.in {
  width: 80%;
  margin-bottom: 200px;
}

.header {
  fill: url(#linear-gradient);
}

.footer {
  fill: url(#linear-gradient);
}
