#paragraph {
  // margin: 2em;
  font-weight: bold;
  // font-size: 130%;
  font-size: 1.2rem;
  // text-transform: uppercase;
}

.Colorbg-backgroundColor {
  backdrop-filter: blur(1.9px) brightness(100%);
  background: linear-gradient(180deg,
      rgb(62, 0, 103) 85.5%,
      rgba(62, 0, 103) 100%);
}

.phonefoot {
  height: 95px;
  padding-bottom: 5px;
}

#footsocial {
  font-size: 1.2rem;
}

#foot-contact {
  font-size: 1.2rem;
}

@media screen and (max-aspect-ratio: 4/3) {
  .phonefoot {
  height: 70px;
}
}

// .in {
//   width: 80%;
//   margin-bottom: 200px;
// }

// .header {
//   fill: url(#linear-gradient);
// }

// .footer {
//   fill: url(#linear-gradient);
// }