#paragraph {
  // margin: 2em;
  font-weight: bold;
  font-size: 130%;
  text-transform: uppercase;
}
.Colorbg-backgroundColor {
  backdrop-filter: blur(1.9px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(22, 3, 35, 0.8) 85.5%,
    rgba(22, 3, 35, 0.8) 100%
  );
}

// .in {
//   width: 80%;
//   margin-bottom: 200px;
// }

// .header {
//   fill: url(#linear-gradient);
// }

// .footer {
//   fill: url(#linear-gradient);
// }
