.SectionHeaderMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.teSectionHeaderMainxt {
  // height: 43px;
  width: 100%;
  // margin-bottom: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.SectionHeader_text {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.SectionHeader_text_text-content {
  // color: #ffca42;
  color: #353535;
  // font-family: "Playfair Display SC-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  // letter-spacing: 0;
  line-height: normal;
  text-align: center;
  // border-bottom: 2px solid #000;
  /* You can adjust the thickness and color */
  // display: inline-block;
  /* Ensures the border only covers the text width */
  padding-bottom: 5px;
}

.sectionHeaderUnderline {
  background-color: white;
  width: 80%;
  height: 2px;
}

@media screen and (max-width: 768px) {
  .SectionHeaderMain {
    margin-top: 8%;
  }

  .SectionHeader_text_text-content {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .SectionHeaderMain {
    margin-top: 11%;
  }
  .SectionHeader_text_text-content {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .SectionHeaderMain {
    margin-top: 15%;
  }
  .SectionHeader_text_text-content {
    font-size: 18px;
  }
}
