/* RegistrationForm.css */

.regis {
  // background-color: black;
  // background-image: linear-gradient(to bottom, #BBD2C5 0%,#536976 100%);
  // background-image: linear-gradient(to bottom, #e4e5e6 0%, #00416a 100%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #f2fbff 0.01%,
    #d4f2ff 100%
  );
  padding-bottom: 30px;
  padding: 5%;
}

.registration-form {
  // color: white;
  color: black;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  // background: rgba(255, 255, 255, 0.35);
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  // background-color: aqua;
  width: 100%;
  margin-bottom: 5px;
}

.reginput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  // border: 1px solid #ccc;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
}

.reglist {
  list-style-type: disc;
}

.dareg {
  min-width: 100px;
}

/* Style for error messages */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.dayregi {
  height: 20px;
  width: 20px;
  // position: relative;
  // right: 0px !important;
}

.dayylab {
  display: flex;
  align-items: center;
}

.checkbox-group {
  display: flex;
  // flex-direction: column;
  align-items: center;
}

.regbtn {
  background-color: #3e0067 !important;
  // color: white;
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  border-radius: 10px;
  // border: 2px solid white;
}

.heyreg {
  display: flex;
  justify-content: center;
}

.regbtn:hover {
  background-color: #6da4de !important;
}

/* styles.css or your custom CSS file */
.custom-toast-success {
  background-color: #d4f2ff !important; /* Change the background color */
}

.Toastify__progress-bar {
  // display: none;
  background-color: #a0c4ea !important;
}
