.RegistrationPage {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #f2fbff 0.01%,
    #d4f2ff 100%
  );
  display: flex;
  justify-content: center;
  padding: 2%;

  .RegistrationPageSection {
    display: flex;
    justify-content: center;
    // align-items: center;
    // background-color: #d4f2ff;
    height: 100%;
    border-radius: 2%;
    max-width: 1300px;
    background-color: white;

    .regisGuidelineSection {
      display: flex;
      flex-direction: column;
      padding: 2%;
      flex-basis: 50%;
      // background-color: white;
      flex: 1;

      .GuidelineContainer {
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .regisGuidelines {
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.0875rem;
          width: 95%;
          padding-left: 5%;

          ol {
            li {
              margin: 2% 0;
            }
          }
        }
      }
    }

    .regis {
      padding-bottom: 30px;
      padding: 2%;
      height: 100%;
      flex-basis: 50%;
      // background-color: #d9d9d9;
      border-radius: 2%;
      flex: 1;

      .registration-form {
        color: black;
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(0.5px);
        -webkit-backdrop-filter: blur(0.5px);
        border-radius: 10px;
        border: 1px solid black;

        .reginput {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          // border: 1px solid #ccc;
          border: 1px solid black;
          border-radius: 3px;
          color: black;
        }
        label {
          display: block;
          // background-color: aqua;
          width: 100%;
          margin-bottom: 5px;
        }

        .form-group {
          margin-bottom: 15px;
        }

        .reglist {
          list-style-type: disc;
        }

        .dareg {
          min-width: 100px;
        }

        /* Style for error messages */
        .error {
          color: red;
          font-size: 14px;
          margin-bottom: 10px;
        }

        .dayregi {
          height: 20px;
          width: 20px;
          // position: relative;
          // right: 0px !important;
        }

        .dayylab {
          display: flex;
          align-items: center;
        }

        .checkbox-group {
          display: flex;
          // flex-direction: column;
          align-items: center;
        }

        .regbtn {
          background-color: #3e0067 !important;
          // color: white;
          color: white;
          border: none;
          text-align: center;
          font-weight: bold;
          padding: 10px;
          width: 50%;
          cursor: pointer;
          border-radius: 10px;
          // border: 2px solid white;
        }

        .heyreg {
          display: flex;
          justify-content: center;
        }

        .regbtn:hover {
          background-color: #6da4de !important;
        }

        option:first {
          color: #999;
        }
      }
    }
  }
}

.RegistrationPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;

  .RegistrationPageHeaderSectionHeader_text {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .RegistrationPageHeaderSectionHeader_text_text-content {
      color: #353535;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      padding-bottom: 5px;
    }

    .RegistrationPageHeaderUnderline {
      background-color: black;
      width: 80%;
      height: 2px;
    }
  }
}

/* styles.css or your custom CSS file */
.custom-toast-success {
  background-color: #d4f2ff !important;
  /* Change the background color */
}

// .Toastify__progress-bar {
//   // display: none;
//   // background-color: #a0c4ea !important;
// }

@media screen and (max-width: 1280px) {
  .RegistrationPage {
    .RegistrationPageSection {
      .regisGuidelineSection {
        .GuidelineContainer {
          .regisGuidelines {
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .RegistrationPage {
    .RegistrationPageSection {
      .regisGuidelineSection {
        .GuidelineContainer {
          .regisGuidelines {
            font-size: 1.05rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .RegistrationPage {
    .RegistrationPageSection {
      flex-direction: column;
      padding: 0%;
      background-color: transparent;
      align-items: center;
      // margin-bottom: 5%;
      .regisGuidelineSection {
        width: 95%;
        border-radius: 2%;
        margin-top: 5%;
        padding: 5%;
        background-color: white;

        .GuidelineContainer {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .regisGuidelines {
            font-size: 0.9rem;
            width: 95%;
          }
        }
      }

      .regis {
        width: 95%;
        border-radius: 2%;
        margin-top: 5%;
        padding: 5%;
        margin-bottom: 5%;
        background-color: white;
        box-shadow: none;

        .registration-form {
          box-shadow: none;
        }
      }
    }
  }

  .RegistrationPageHeader {
    .RegistrationPageHeaderSectionHeader_text {
      .RegistrationPageHeaderSectionHeader_text_text-content {
        color: #353535;
        font-size: 1.26rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        padding-bottom: 5px;
      }

      .RegistrationPageHeaderUnderline {
        background-color: black;
        width: 80%;
        height: 2px;
      }
    }
  }
}
