.RegistrationForm_container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.RegistrationForm_container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.RegistrationForm_pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

.RegistrationForm_button {
  background: #0563b4 !important;
}
.RegistrationForm_p {
  color: red;
}
